{% extends 'layout.html' %}

{% block content %}
  <h1>My Book Wishlist</h1>

  <form action="{{ url_for('add_book') }}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">
    <label for="series_name">Series Name:</label>
    <input type="text" id="series_name" name="series_name">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn">
    <button type="submit">Add Book</button>
  </form>

  <ul>
    {% for book in books %}
      <li>
        <strong>Title:</strong> {{ book[1] }}<br>
        <strong>Author:</strong> {{ book[2] }}<br>
        <strong>Genre:</strong> {{ book[3] }}<br>
        <strong>Series Name:</strong> {{ book[4] }}<br>
        <strong>ISBN:</strong> {{ book[5] }}<br>
        {% if book[6] %}
          <em>Read Status: Read</em>
          <a href="{{ url_for('mark_as_read', book_id=book[0]) }}">Mark as Unread</a><br>
        {% else %}
          <a href="{{ url_for('mark_as_read', book_id=book[0]) }}">Mark as Read</a><br>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <form method="post" action="{{ url_for('delete_account') }}" onsubmit="return confirm('Are you sure you want to delete your account and all associated data? This action cannot be undone.');">
    <button type="submit" class="delete-account-btn">Delete Account</button>
  </form>

  <!-- Log Out Link -->
  <a href="{{ url_for('logout') }}">Log Out</a>

{% endblock %}
